<section class="container mt-5">
  <app-add-task></app-add-task>
  <div class="row gx-3 mt-5">
    <div class="col-12 col-lg-8 ">
      <div class="card px-3">
        <h4 class="card-title mb-2 border-bottom border-primary py-3">
          <i class="bi bi-card-checklist inline-block mx-2 text-primary"></i>
          <span>TASKS LIST</span>
        </h4>
        <div class="vh-100 overflow-auto">
          <div class="list-group " *ngIf="(toDoLists | completed: false).length > 0; else emptymsg">
            <app-task-item *ngFor="let task of toDoLists | completed: false" [task]="task"></app-task-item>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 ">
      <div class="card px-3">
        <h4 class="card-title border-bottom border-success py-3">
          <i class="bi bi-check-circle-fill inline-block mx-2 text-success"></i>
          <span>COMPLETED TASKS</span>
        </h4>
        <div class="vh-100 overflow-auto">
          <ul class="list-group" *ngIf="(toDoLists | completed: true).length > 0; else completeEmptymsg">
            <app-task-item *ngFor="let task of toDoLists | completed: true" [task]="task"></app-task-item>
          </ul>
        </div>
      </div>
    </div>
  </div>


</section>

<ng-template #emptymsg>
  You don't have any tasks to do. please add some to be more productive.
</ng-template>

<ng-template #completeEmptymsg>
  You have not yet completed any tasks.
</ng-template>