
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(233, 236, 239);
}

.text-sm {
    font-size: .8rem;
}

.add-btn {
    min-width: 12rem;
    text-align: center;
}